body {
  margin: 0;
  padding: 0;
  background-image: url("1a3e200a-f755-4d4d-a656-7da127560070.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.container {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  gap: 5px;
}
.box {
  width: 60px;
  height: 60px;
  background-color: rgb(217, 217, 217);
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.userGuess {
}
form {
  display: flex;
  flex-direction: column;
  width: 200px;
}
#custom {
  border-radius: 10px 10px 0 0;
  border: solid 1px rgb(199, 199, 199);
  height: 30px;
}
#custom-sub {
  border: solid 1px rgb(199, 199, 199);
  background-color: white;
  height: 20px;
  border-radius: 0 0 10px 10px;
}

button {
  width: 200px;
  height: 54px;
  background-color: white;
  border-radius: 10px;
  border: solid 1px rgb(199, 199, 199);
  box-shadow: none;
}
.button-box {
  display: flex;
  gap: 20px;
}
