body{
  margin: 0;
  padding: 0;
  background-image: url("1a3e200a-f755-4d4d-a656-7da127560070.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  gap: 5px;
}
.box {
  width: 60px;
  height: 60px;
  background-color: rgb(217, 217, 217);
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.userGuess {
}
