body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Fredoka One", cursive;
  background-color: rgb(255, 255, 255);
}

.home-container {
  background-image: url("../public/wordle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-text {
  margin-top: 100px;
  text-align: center;
}

.start-btn {
  width: 300px;
  height: 70px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(131, 131, 131);
}

.start-btn:hover {
  background-color: rgb(216, 216, 216);

  cursor: pointer;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.playfield {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playfield-box {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: auto auto auto auto auto;
  gap: 3px;
  width: fit-content;
}
.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  border: 3px solid rgb(136, 160, 30);
  color: white;
  width: 60px;
  height: 60px;
  color: black;
  font-size: 2rem;
}
.keyboard {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 5px;
}
.keyboard-rows {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.key {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(151, 151, 151);
  border-radius: 8px;
}
.key:hover {
  background-color: rgb(185, 185, 185);
  cursor: pointer;
}
.green {
  background-color: green;
}
.yellow {
  background-color: rgb(251, 255, 0);
}
.grey {
  background-color: rgb(133, 133, 133);
}
.active-row {
  border: 3px solid rgb(37, 34, 34);
}
.active-triangle-box {
  position: relative;
  left: -190px;
}
.triangle {
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: -10px;
  left: -20px;
  transform: rotate(45deg);
}
.triangle-block {
  width: 20px;
  height: 30px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: -15px;
  left: -30px;
}
